h1{
   text-align: center; 
}

#count{
    text-align: center;
    font-size: 40px;
    display: block;
    margin: center;
}

.container {
    display: block;
    margin: auto;
    text-align: center;    
    margin-top: 30px;
}
